@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="~/css/aboutus.css">

</head>

<body>
    <main class="main">
        <!--=============== HOME ===============-->
        <section class="home section" id="home">
            <div class="home__container container grid">
                <img src="/images/about_pic2.png">

                <div class="home__data">
                    <h1 class="home__title">Welcome to <br> NP Courier Service</h1>
                    <p class="home__description">
                        Welcome to NP Courier Service (NPCS), your reliable partner for express parcel delivery
                        to over 30 countries. With our extensive network, we have established front offices in
                        each destination country, ensuring efficient reception of your valuable parcels. Our
                        dedicated delivery stations work seamlessly to coordinate timely and secure deliveries
                        right to your doorstep.
                    </p>
                </div>
            </div>
        </section>

        <!--=============== ABOUT ===============-->
        <section class="about section container" id="about">
            <div class="about__container grid">
                <div class="about__data">
                    <h2 class="section__title-center">Find Out A Little More <br> About Us</h2>
                    <p class="about__description">
                        This cutting-edge platform is designed to enhance our business productivity, allowing
                        us to streamline processes, provide real-time tracking updates, and offer you a
                        user-friendly experience like never before.
                    </p>
                </div>

                <img src="/images/about_pic1.png">
            </div>
        </section>

        <!--=============== SECURITY ===============-->
        <section class="security section container">
            <div class="security__container grid">
                <img src="/images/about_pic3.png">
                <div class="security__data">
                    <h2 class="section__title-center">Our commitment to <br> Customer Satisfaction</h2>
                    <p class="security__description">
                        At NP Courier Service, we are committed to delivering more than just packages; we
                        deliver trust, reliability, and peace of mind. With our unwavering dedication to customer
                        satisfaction, you can rest assured that your parcels are in the safest hands. Join us on
                        this journey of excellence as we redefine express parcel delivery in the digital age.
                    </p>
                </div>
            </div>
        </section>

        <!--=============== SERVICES ===============-->
        <section class="services section container" id="services">
            <h2 class="section__title">Some Services We <br> Offer</h2>
            <div class="services__container grid">
                <div class="services__data">
                    <h3 class="services__subtitle">Account</h3>
                    <img src="/images/about_pic4.png">
                    <p class="services__description">Create an account or Login with an existing account.</p>
                    <div>
                        <a href="#" class="button button-link">Learn More</a>
                    </div>
                </div>

                <div class="services__data">
                    <h3 class="services__subtitle">Deliver parcels</h3>
                    <img src="/images/about_pic5.png">
                    <p class="services__description">Our deliveryman will deliver parcels right to your doorstep.</p>
                    <div>
                        <a href="#" class="button button-link">Learn More</a>
                    </div>
                </div>

                <div class="services__data">
                    <h3 class="services__subtitle">Track Parcels</h3>
                    <img src="/images/about_pic6.png">
                    <p class="services__description">In our app you can see the status of your parcels.</p>
                    <div>
                        <a href="#" class="button button-link">Learn More</a>
                    </div>
                </div>
            </div>
        </section>

        <!--=============== APP ===============-->
        <section class="app section container">
            <div class="app__container grid">
                <div class="app__data">
                    <h2 class="section__title-center">Watch Your Delivery <br> At Any Time</h2>
                    <p class="app__description">
                        With our website you can view the status of your order, from our local
                        headquarters to the
                        place where you are. Join us now!
                    </p>
                </div>

                <img src="/images/about_pic7.png">
            </div>
        </section>
</body>

</html>

