.row {
    padding: 2rem 5rem;
}

table{
    margin-top: 2rem;
}

input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #CCC;
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

#codes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dropdown-container{
    display:flex;
    align-items:center;
}

label{
    margin-top: 10px;
    margin-bottom:0;
}

strong {
    font-size: 3rem;
}

.btn {
    height: 45px;
    margin: 10px 0;
    width: 100%;
}
    .btn input {
        height: 100%;
        width: 100%;
        background: #2196F3;
        color: #FFFFFF;
        font-size: 18px;
        letter-spacing: 1px;
        border-radius: 5px;
    }
    .btn input:hover {
        background: #0D47A1;
    }
