@{
    ViewData["Title"] = "Member";
    Layout = "~/Views/Shared/_Member.cshtml";
}

@model Customer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css" />
    <link rel="stylesheet" href="theme.css" type="text/css" />
    <link rel="stylesheet" href="static/theme.css" />
</head>

<body>
    <div class="py-5 text-center align-items-center d-flex" style="">
        <div class="container py-5">
            <div class="row">
                Welcome @Model.Member.name, you have @Model?.Inboxes?.Count pending notifications
            </div>
            <br>
            <div class="row">
                <form id="searchForm" class="form-control">
                    <input type="text" placeholder="Search For An Parcel" name="query" id="queryInput" class="form-control">

                    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Search</button>
                </form>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <div id="searchResults"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $('#searchForm').submit(function (e) {
            e.preventDefault(); // Prevent the form from submitting normally

            var query = $('#queryInput').val(); // Get the search query from the input field

            // Send an AJAX request to the server
            $.ajax({
                url: '/Member/Search', // Replace with the actual URL of your search action method
                type: 'GET',
                data: { query: query },
                success: function (data) {
                    // Update the search results section with the retrieved data
                    $('#searchResults').html(data);
                },
                error: function () {
                    // Handle any errors
                    console.log('An error occurred during the search request.');
                }
            });
        });
    });
</script>
</html>

